*.o
*.user
.qmake.stash
*.swpS
.DS_Store
Makefile
**/debug/*
**/release/*
**/build/*
**.swp
tags
test/build-*
.vs
GeneratedFiles
**.msi
**.wixobj
**.wixpdb
**.aps
DependencyGroup.wxs
packages
**obj
**bin
dependencies
node_modules
