[Desktop Entry]
Comment=
Exec=lalamachine
Icon=/opt/rmean/icons/lalamachine.png
Name=lalamachine
GenericName=Audio Player
NoDisplay=false
Path[$e]=$HOME
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Qt;AudioVideo;Player;Multimedia;Music;Audio Player;
MimeType=audio/*;
