[Desktop Entry]
Comment=
Exec=lalamachine
Icon=/opt/rmean/icons/lalamachine.png
Name=lalamachine
GenericName=Audio Player
NoDisplay=false
Path=$HOME
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;AudioVideo;Player;Music;
MimeType=audio/*;
