.top-library {
  height: 250px;
}

.middle-library {
  position: absolute;
  top: 210px;
  /* bottom = bottom-geometry.height + 8px margin * 3 above buttons, below buttons and below controls*/
  height: 40px;
  left: 0px;
  right: 0px;
}

.bottom-library {
  position: absolute;
  top: 250px;
  bottom: -16px;
  left: 0px;
  right: 0px;
}
